@use '../colors';


.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10000;

    .spinner {
        border: 8px solid colors.$color-surface;
        border-top: 8px solid colors.$color-primary;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}