@use '../breakpoints';
@use '../colors';
@use '../units';

.cart {
  &__container {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;

    & img {
      height: units.px-to-rem(150);
    }

    & a {
      display: block;
      position: relative;

      &:hover {
        filter: drop-shadow(0 0 2em colors.$color-bubblegum-rose);
      }
    }
  }

  &__items {
    position: absolute;
    top: units.px-to-rem(60);
    left: units.px-to-rem(35);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: units.px-to-rem(30);
    height: units.px-to-rem(30);
    border: 1px solid colors.$color-border;
    border-radius: units.px-to-rem(4);
    background-color: colors.$color-surface;
    font-weight: 700;
  }

  &__summary {
    display: none;

    &--visible {
      display: block;
      margin-top: units.px-to-rem(20);
      width: 100%;

      @include breakpoints.medium {
        max-width: units.px-to-rem(740);
        margin-inline: auto;
      }
    }
  }

  &__table {
    width: 100%;
    border: 1px solid colors.$color-border;
    border-radius: units.px-to-rem(10);
    background-color: #fff;
    padding: units.px-to-rem(5);

    & tfoot {
      font-weight: 700;
      line-height: units.px-to-rem(35);
    }

    & th {
      text-align: left;
      line-height: units.px-to-rem(35);
    }

    & th,
    td {

      &:first-child {
        width: units.px-to-rem(35);
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}