$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

@mixin small {
  @media (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}
