@charset "UTF-8";

@use 'breakpoints';
@use 'colors';
@use 'units';

.style {
  margin: 0;
  padding: units.px-to-rem(20);
  font-family: arial, sans-serif;
  font-size: units.px-to-rem(16);
  background-color: colors.$navy-800;

  @include breakpoints.large {
    font-size: units.px-to-rem(18);
  }

  &__logo {
    height: units.px-to-rem(130);
    will-change: filter;
    transition: filter 300ms;

    @include breakpoints.medium {
     height: units.px-to-rem(160);
    }

    &:hover {
      filter: drop-shadow(0 0 2em colors.$teal-1100);
    }
  }

  &__section {
    max-width: units.px-to-rem(700);
    margin: 0 auto;
    background-color: colors.$navy-200;
    border-radius: units.px-to-rem(10);
    padding: units.px-to-rem(20);
  }

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: units.px-to-rem(20);
    color: colors.$navy-1100;

    h1 {
      font-weight: 700;
      font-size: units.px-to-rem(24);
      margin: 0;

      @include breakpoints.large {
        font-size: units.px-to-rem(32);
      }
    }
  }

  
  &__product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: units.px-to-rem(10);
    margin: 0;
    padding: 0;


    & img {
      width: 100%;
    }
    
    & li {
      border-radius: units.px-to-rem(10);
      background: #fff;
      overflow: hidden;

      @include breakpoints.small {
        width: units.px-to-rem(160);
      }
    }

    & a {
      display: block;
      padding: units.px-to-rem(10);
      color: colors.$teal-1100;
    }
  }

  &__search {
    margin-bottom: units.px-to-rem(10);
  }

  &__sortby {
    margin-bottom: units.px-to-rem(20);

    .hacker-news__checkbox {
      margin-right: units.px-to-rem(8);
    }
  }

  & nav {
    margin-top: units.px-to-rem(20);
    font-size: units.px-to-rem(19);

    display: flex;
    justify-content: center;
  }

  &__toggle {
    margin-top: units.px-to-rem(10);
    display: none;

    &--visible {
      display: block;
    }
  }


  &__input {
    width: 100%;
    padding: units.px-to-rem(8);
    border: 1px solid colors.$navy-1100;
    border-radius: units.px-to-rem(4);
    font-size: units.px-to-rem(16);

    &:focus-visible {
      outline: 2px solid colors.$teal-1100;
      outline-offset: 2px;
    }

    &--error {
      &:focus-visible {
        outline-color: colors.$burgundy-1100;
      }
    }
  }

  &__button {
    padding: units.px-to-rem(8) units.px-to-rem(12);
    border: none;
    border-radius: units.px-to-rem(4);
    background-color: colors.$teal-1100;
    color: colors.$navy-50;
    font-size: units.px-to-rem(16);
    cursor: pointer;

    &:hover {
      background-color: colors.$navy-1100;
    }
  }

  &__errormessage {
    display: none;
    color: colors.$burgundy-1100;
    margin-bottom: units.px-to-rem(10);

    &--visible {
      display: block;
    }
  }

  &__visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}