@charset "UTF-8";

@use 'breakpoints';
@use 'colors';
@use 'units';
@use './Components/cart';
@use './Components/input';
@use './Components/navigation';
@use './Pages/cart-page';
@use './Pages/product-list';

.style {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: units.px-to-rem(16);
  color: colors.$color-text-main;
  background-color: colors.$color-background;

  @include breakpoints.small {
    padding: units.px-to-rem(20);
  }

  @include breakpoints.large {
    font-size: units.px-to-rem(18);
  }

  & a {
    color: colors.$color-text-main;
  }

  img {
    width: 100%;
  }

  &__section {
    max-width: units.px-to-rem(700);
    margin: 0 auto;
    background-color: colors.$color-surface;
    border-radius: units.px-to-rem(10);
    padding: units.px-to-rem(20);
  }

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: units.px-to-rem(20);
    color: colors.$color-text-main;

    h1 {
      font-weight: 700;
      font-size: units.px-to-rem(24);
      margin: 0;

      @include breakpoints.large {
        font-size: units.px-to-rem(32);
      }
    }
  }


  & button {
    all: unset;
    align-items: center;
    padding: units.px-to-rem(5);
    border: 1px solid colors.$color-border;
    border-radius: units.px-to-rem(4);
    background-color: colors.$color-marshmallow-white;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: colors.$color-surface;
    }

    &:focus-visible {
      outline: 2px solid colors.$color-primary;
      outline-offset: 2px;
    }

    &:disabled {
      cursor: default;
    }

    &.button--primary {
      background-color: colors.$color-primary;
      color: #fff;
      font-size: units.px-to-rem(24);
      padding: units.px-to-rem(10);

      &:hover:not(:disabled) {
        background-color: colors.$color-primary-hover;
      }
    }
  }

  ul {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__errormessage {
    display: none;
    color: colors.$color-danger;
    margin-bottom: units.px-to-rem(10);

    &--visible {
      display: block;
    }
  }

  &__visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  &__align-right {
    text-align: right;
    margin-top: units.px-to-rem(20);
  }
}